<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.positionback.mapper.admin.AdminMapper">
    <!-- 회원 관리 -->
    <!-- 일반 회원 목록 -->
    <!-- 일반 회원 목록 검색 로직 -->
    <sql id="MemberSearch">
        <where>
            <if test="search.keyword != null and search.keyword != ''">
                (
                member_name like CONCAT('%', #{search.keyword}, '%')
                or member_email like CONCAT('%', #{search.keyword}, '%')
                or member_address like CONCAT('%', #{search.keyword}, '%')
                or member_phone like CONCAT('%', #{search.keyword}, '%')
                )
            </if>
            <if test="search.types != null and search.types.length > 0">
                <choose>
                    <when test="search.types[0] == 'active'">
                        and member_status = '활동중'
                    </when>
                    <when test="search.types[0] == 'suspended'">
                        and member_status = '정지'
                    </when>
                    <when test="search.types[0] == 'withdrawn'">
                        and member_status = '탈퇴'
                    </when>
                </choose>
            </if>
        </where>
    </sql>

    <!-- 일반 회원 목록 조회 -->
    <select id="selectAllMembers" resultType="memberDTO">
        select id,
        member_name,
        coalesce(member_email, member_kakao_email) AS memberEmail,
        member_address,
        member_phone,
        member_status,
        created_date
        from tbl_member
        <include refid="MemberSearch"/>
        <choose>
            <when test="search.types != null and search.types.length > 0">
                <if test="search.types[0] == 'recent'">
                    order by created_date desc
                </if>
            </when>
            <otherwise>
                order by created_date desc
            </otherwise>
        </choose>
        limit #{pagination.startRow}, #{pagination.rowCount}
    </select>

    <!-- 일반 회원 전체 인원 확인 -->
    <select id="selectMemberTotal">
        select count(*) from tbl_member
    </select>

    <!-- 일반 회원 목록에서 검색 후 인원 확인 -->
    <select id="selectTotalWithMemberSearch">
        select count(*) from tbl_member
        <include refid="MemberSearch"/>
    </select>

    <!-- 기업 회원 목록 -->
    <!-- 기업 회원 목록 검색 로직 -->
    <sql id="CorporationSearch">
        <where>
            <if test="search.keyword != null and search.keyword != ''">
                and (
                corporation_name like concat('%', #{search.keyword}, '%')
                or corporation_email like concat('%', #{search.keyword}, '%')
                or corporation_address like concat('%', #{search.keyword}, '%')
                or corporation_gen like concat('%', #{search.keyword}, '%')
                or corporation_code like concat('%', #{search.keyword}, '%')
                )
            </if>
        </where>
    </sql>

    <!-- 기업 회원 목록 조회 -->
    <select id="selectAllCorporationMembers" resultType="corporationDTO">
        select id,
               corporation_name,
               corporation_address,
               corporation_email,
               corporation_gen,
               corporation_code,
               created_date
        from tbl_corporation
        <include refid="CorporationSearch"/>
        order by created_date desc
        limit #{pagination.startRow}, #{pagination.rowCount}
    </select>

    <!-- 기업 회원 전체 인원 확인 -->
    <select id="selectCorporationTotal">
        select count(*) from tbl_corporation
    </select>

    <!-- 기업 회원 목록에서 검색 후 인원 확인 -->
    <select id="selectTotalWithCorporationSearch">
        select count(*) from tbl_corporation
        <include refid="CorporationSearch"/>
    </select>

    <!-- 지원 현황 관리 -->
    <!-- 지원 현황 -->
    <!-- 지원 현황 목록 검색 로직 -->
    <sql id="ApplySearch">
        <where>
            <if test="search.keyword != null and search.keyword != ''">
                (
                c.corporation_name like concat('%', #{search.keyword}, '%')
                or m.member_name like concat('%', #{search.keyword}, '%')
                or m.member_phone like concat('%', #{search.keyword}, '%')
                or a.apply_type like concat('%', #{search.keyword}, '%')
                )
            </if>
            <if test="search.types != null and search.types.length > 0">
                <choose>
                    <when test="search.types[0] == 'applycomplete'">
                        and apply_status = '지원 완료'
                    </when>
                    <when test="search.types[0] == 'applycancel'">
                        and apply_status = '지원 취소'
                    </when>
                    <when test="search.types[0] == 'applypass'">
                        and apply_status = '지원 합격'
                    </when>
                    <when test="search.types[0] == 'applyfail'">
                        and apply_status = '지원 불합격'
                    </when>
                </choose>
            </if>
        </where>
    </sql>

    <!-- 지원 현황 목록 조회 -->
    <select id="selectAllApply">
        select c.corporation_name, a.created_date, n.notice_title, m.member_name, m.member_phone, a.apply_type, a.apply_status
        from tbl_apply a
        join tbl_notice n on a.notice_id = n.id
        join tbl_corporation c on n.corporation_id = c.id
        join tbl_resume r on a.resume_id = r.id
        join tbl_member m on r.member_id = m.id
        <include refid="ApplySearch"/>
        <choose>
            <when test="search.types != null and search.types.length > 0">
                <if test="search.types[0] == 'recent'">
                    order by created_date desc
                </if>
            </when>
            <otherwise>
                order by created_date desc
            </otherwise>
        </choose>
        limit #{pagination.startRow}, #{pagination.rowCount}
    </select>

    <!-- 지원 현황 전체 인원 확인 -->
    <select id="selectApplyTotal">
        select count(*)
        from tbl_apply a
        join tbl_notice n on a.notice_id = n.id
        join tbl_corporation c on n.corporation_id = c.id
        join tbl_resume r on a.resume_id = r.id
        join tbl_member m on r.member_id = m.id
    </select>

    <!-- 지원 현황 목록에서 검색 후 인원 확인 -->
    <select id="selectTotalWithApplySearch">
        select count(*)
        from tbl_apply a
        join tbl_notice n on a.notice_id = n.id
        join tbl_corporation c on n.corporation_id = c.id
        join tbl_resume r on a.resume_id = r.id
        join tbl_member m on r.member_id = m.id
        <include refid="ApplySearch"/>
    </select>

    <!-- 면접 현황 -->
    <!-- 면접 현황 목록 검색 로직 -->
    <sql id="InterviewSearch">
        <where>
            <if test="search.keyword != null and search.keyword != ''">
                and (
                c.corporation_name like concat('%', #{search.keyword}, '%')
                or n.notice_title like concat('%', #{search.keyword}, '%')
                or m.member_name like concat('%', #{search.keyword}, '%')
                or m.member_phone like concat('%', #{search.keyword}, '%')
                or n.notice_job_category_name like concat('%', #{search.keyword}, '%')
                )
            </if>
            <if test="search.types != null and search.types.length > 0">
                <choose>
                    <when test="search.types[0] == 'interviewexpected'">
                        and interview_status = '면접 예정'
                    </when>
                    <when test="search.types[0] == 'ineterviewcancel'">
                        and interview_status = '면접 취소'
                    </when>
                    <when test="search.types[0] == 'interviewpass'">
                        and interview_status = '면접 합격'
                    </when>
                    <when test="search.types[0] == 'interviewfail'">
                        and interview_status = '면접 불합격'
                    </when>
                </choose>
            </if>
        </where>
    </sql>

    <!-- 면접 현황 목록 조회 -->
    <select id="selectAllInterview">
        select c.corporation_name, i.interview_date as interview_apply_pass_date, n.notice_title, m.member_name, m.member_phone, n.notice_job_category_name, i.interview_status
        from tbl_interview i
        join tbl_corporation c on i.corporation_id = c.id
        join tbl_notice n on n.corporation_id = c.id
        join tbl_resume r on i.resume_id = r.id
        join tbl_member m on r.member_id = m.id
        <include refid="InterviewSearch"/>
        <choose>
           <when test="search.types != null and search.types.length > 0">
               <if test="search.types[0] == 'recent'">
                   order by i.interview_date as interview_apply_pass_date desc
               </if>
           </when>
           <otherwise>
               order by i.interview_date as interview_apply_pass_date desc
           </otherwise>
        </choose>
        limit #{pagination.startRow}, #{pagination.rowCount}
    </select>

    <!-- 면접 현황 전체 인원 확인 -->
    <select id="selectInterviewTotal">
        select count(*)
        from tbl_interview i
        join tbl_corporation c on i.corporation_id = c.id
        join tbl_notice n on n.corporation_id = c.id
        join tbl_resume r on i.resume_id = r.id
        join tbl_member m on r.member_id = m.id
    </select>

    <!-- 면접 현황 목록에서 검색 후 인원 확인 -->
    <select id="selectTotalWithInterviewSearch">
        select count(*)
        from tbl_interview i
        join tbl_corporation c on i.corporation_id = c.id
        join tbl_notice n on n.corporation_id = c.id
        join tbl_resume r on i.resume_id = r.id
        join tbl_member m on r.member_id = m.id
        <include refid="InterviewSearch"/>
    </select>

    <!-- 포지션(인턴십) 현황 목록 -->
    <!-- 포지션(인턴십) 현황 목록 검색 로직 -->
    <sql id="PositionSearch">
        <where>
            <if test="search.keyword != null and search.keyword != ''">
                and (
                c.corporation_name like concat('%', #{search.keyword}, '%')
                or n.notice_work_start_date like concat('%', #{search.keyword}, '%')
                or m.member_name like concat('%', #{search.keyword}, '%')
                or m.member_phone like concat('%', #{search.keyword}, '%')
                or n.notice_job_category_name like concat('%', #{search.keyword}, '%')
                )
            </if>
        </where>
    </sql>

    <!-- 포지션(인턴십) 현황 목록 조회 -->
    <select id="selectAllPosition">
        select c.corporation_name, n.notice_work_start_date, n.notice_title, m.member_name, m.member_phone, n.notice_job_category_name, p.position_status
        from tbl_position p
        join tbl_notice n on p.notice_id = n.id
        join tbl_corporation c on n.corporation_id = c.id
        join tbl_member m on p.member_id = m.id
        <include refid="PositionSearch"/>
        <choose>
            <when test="search.types[0] == 'recent'">
                order by n.notice_work_start_date desc
            </when>
            <when test="search.types[0] == 'positionschedule'">
                order by (position_status = '포지션 예정') desc, n.notice_work_start_date desc
            </when>
            <when test="search.types[0] == 'positioncompletion'">
                order by (position_status = '포지션 수료') desc, n.notice_work_start_date desc
            </when>
            <when test="search.types[0] == 'positionnotcompleted'">
                order by (position_status = '포지션 미수료') desc, n.notice_work_start_date desc
            </when>
            <otherwise>
                order by n.notice_work_start_date desc
            </otherwise>
        </choose>
        limit #{pagination.startRow}, #{pagination.rowCount}
    </select>

    <!-- 포지션(인턴십) 현황 전체 인원 확인 -->
    <select id="selectPositionTotal">
        select count(*)
        from tbl_position p
        join tbl_notice n on p.notice_id = n.id
        join tbl_corporation c on n.corporation_id = c.id
        join tbl_member m on p.member_id = m.id
    </select>

    <!-- 포지션(인턴십) 현황 목록에서 검색 후 인원 확인 -->
    <select id="selectTotalWithPositionSearch">
        select count(*)
        from tbl_position p
        join tbl_notice n on p.notice_id = n.id
        join tbl_corporation c on n.corporation_id = c.id
        join tbl_member m on p.member_id = m.id
        <include refid="PositionSearch"/>
    </select>

    <!-- 결제 내역 관리 -->
    <!-- 결제 내역 목록 -->
    <!-- 결제 내역 목록 검색 로직 -->
    <sql id="PaymentSearch">
        <where>
            <if test="search.keyword != null and search.keyword != ''">
                and (
                member_name like concat('%', #{search.keyword}, '%')
                or notice_title like concat('%', #{search.keyword}, '%')
                or member_phone like concat('%', #{search.keyword}, '%')
                )
            </if>
        </where>
    </sql>

    <!-- 결제 내역 목록 조회 -->
    <select id="selectAllPayment">
        select m.member_name, p.created_date, n.notice_title, p.payment_amount, m.member_phone, p.payment_method, p.payment_status
        from tbl_payment p
        join tbl_member m on p.member_id = m.id
        join tbl_notice n on p.notice_id = n.id
        <include refid="PaymentSearch"/>
        <choose>
            <when test="search.types[0] == 'paymentcomplete'">
                order by (payment_status == '결제 완료') desc, p.created_date desc
            </when>
            <when test="search.types[0] == 'paymentcancel'">
                order by (payment_status == '결제 취소') desc, p.updated_date desc
            </when>
            <otherwise>
                order by p.created_date desc
            </otherwise>
        </choose>
        limit #{pagination.startRow}, #{pagination.rowCount}
    </select>

    <!-- 결제 내역 목록에서 전체 결제 수 확인 -->
    <select id="selectPaymentTotal">
        select count(*)
        from tbl_payment p
        join tbl_member m on p.member_id = m.id
        join tbl_notice n on p.notice_id = n.id
    </select>

    <!-- 결제 내역 목록에서 검색 후 결제 수 확인 -->
    <select id="selectTotalWithPaymentSearch">
        select count(*)
        from tbl_payment p
        join tbl_member m on p.member_id = m.id
        join tbl_notice n on p.notice_id = n.id
        <include refid="PaymentSearch"></include>
    </select>

    <!-- 작성 관리 -->
    <!-- 공고 작성 -->
    <!-- 공고 작성 목록 검색 로직 -->
    <sql id="NoticeSearch">
        <where>
            <if test="search.keyword != null and search.keyword != ''">
                and (
                corporation_name like concat('%', #{search.keyword}, '%')
                or notice_title like concat('%', #{search.keyword}, '%')
                or corporation_email like concat('%', #{search.keyword}, '%')
                or corporation_gen like concat('%', #{search.keyword}, '%')
                )
            </if>
        </where>
    </sql>

    <!-- 공고 작성 목록 조회 -->
    <select id="selectAllNotices">
        select c.corporation_name,
               n.notice_work_start_date,
               n.notice_title,
               c.corporation_email,
               c.corporation_gen,
               n.notice_end_date,
               case
                   when n.notice_end_date >= NOW() then '채용중'
                   else '채용 마감'
                   end as notice_status
        from tbl_notice n
        join tbl_corporation c on n.corporation_id = c.id
        <include refid="NoticeSearch"/>
        <choose>
           <when test="search.types[0] == 'hiring'">
               order by (n.notice_end_date = '채용중') desc, n.notice_work_start_date desc
           </when>
           <when test="search.types[0] == 'closed">
               order by (n.notice_end_date = '채용 마감') desc, n.notice_work_start_date desc
           </when>
           <otherwise>
               order by n.notice_work_start desc
           </otherwise>
        </choose>
        limit  #{pagination.startRow}, #{pagination.rowCount}
    </select>

    <!-- 공고 작성 목록에서 전체 공고 갯수 확인 -->
    <select id="selectNoticeTotal">
        select count(*)
        from tbl_notice n
        join tbl_corporation c on n.corporation_id = c.id
    </select>

    <!-- 공고 작성 목록에서 검색 후 공고 갯수 확인 -->
    <select id="selectTotalWithNoticeSearch">
        select count(*)
        from tbl_notice n
        join tbl_corporation c on n.corporation_id = c.id
        <include refid="NoticeSearch"/>
    </select>

    <!-- 문의 관리 -->
    <!-- 일반 문의 목록 페이징 -->
    <sql id="MemberInquirySearch">
        <where>
            <if test="search.keyword != null and search.keyword != ''">
                and (
                inquiry_category like concat('%', #{search.keyword}, '%')
                or inquiry_title like concat('%', #{search.keyword}, '%')
                or inquiry_content like concat('%', #{search.keyword}, '%')
                or member_email like concat('%', #{search.keyword}, '%')
                )
            </if>
        </where>
    </sql>

    <select id="selectAllMemberInquiry" resultType="inquiryDTO">
        select id,
               inquiry_type,
               inquiry_category,
               created_date as createdDate,
               inquiry_title,
               inquiry_content,
               coalesce(member_email, member_kakao_email) as memberEmail,
               inquiry_status
        from tbl_inquiry
        <include refid="MemberInquirySearch"/>
        where inquiry_type = '개인'
        order by createdDate desc
        limit #{pagination.startRow}, #{pagination.rowCount}
    </select>

    <select id="selectMemberInquiryTotal">
        select count(*) tbl_inquiry
    </select>

    <!-- 기업 문의 목록 페이징 -->
    <select id="selectAllCorporationInquiry" resultType="inquiryDTO">
        select id,
               inquiry_type,
               inquiry_category,
               inquiry_title,
               inquiry_content,
               created_date AS createdDate,
               updated_date AS updatedDate,
               coalesce(member_email, member_kakao_email) as memberEmail,
               inquiry_status
        FROM tbl_inquiry
        WHERE inquiry_type = '기업'
        ORDER BY createdDate DESC
            LIMIT #{pagination.startRow}, #{pagination.rowCount}
    </select>

    <select id="selectCorporationInquiryTotal">
        select count(*) tbl_inquiry
    </select>

</mapper>
